<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twittery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  
</head>
<body>
    <form action="/" method="POST">
        <div class="container">
            <input name="accountname" type="text" placeholder="Search...">
            <div class="search"></div>
          </div>
    </form>
    <div id="menuArea" style="float: left;"> 
            <input style="float: left; display: none;" type="checkbox" id="menuToggle"></input>
          
          <label for="menuToggle" class="menuOpen">
            <div class="open"></div>
          </label>
          
          <div class="menu menuEffects">
            <label for="menuToggle"></label>
            <div class="menuContent">
              <h1 style="text-align: center">How to use ? What does it do?</h1>
              <br><br>
              <p>
                  Used for Sentiment analysis <p>         Just Press X and then type account or hashtag in search box
                    </p></p>
            </div>
          </div>
          </div>
    
    
</body>

</html>